.page-header {
	margin: 80px 0 20px;
}

.panel-heading {
	height: 41px;
}

.new-btn {
	margin: -6px 0;
}

/* Alerts */
.alert {
	padding: 30px 250px 30px 15px;
	position: fixed;
	top: 43%;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 25px;
	z-index: 2000;
	margin-left: 250px;
}

.alert-success {
	background-color: rgba(214, 233, 198, 0.85);
}

.alert-warning {
	background-color: rgba(252, 248, 227, 0.85);
}

.alert-danger {
	background-color: rgba(242, 222, 222, 0.85);
}

.dash-list {
	padding-left: 0.15em !important;
    list-style: none !important;
}

/* Table styles */
table.table tr td:last-child {
	width: 125px;
	padding: 2px;
}

table.table td .btn {
	display: none;
}

table.table tr:hover td .btn {
	display: inline-block;
}

.table-hover>tbody>tr:hover {
    background-color: #d5e9ff;
}

/*
table.table td input {
	height: 23px;
	padding: 0;
}
*/

table.table thead .sorting { background: url('../vendor/datatables/images/sort_both.png') no-repeat center right !important; }
table.table thead .sorting_asc { background: url('../vendor/datatables/images/sort_asc.png') no-repeat center right !important; }
table.table thead .sorting_desc { background: url('../vendor/datatables/images/sort_desc.png') no-repeat center right !important; }

table.table thead .sorting_asc_disabled { background: url('../vendor/datatables/images/sort_asc_disabled.png') no-repeat center right !important; }
table.table thead .sorting_desc_disabled { background: url('../vendor/datatables/images/sort_desc_disabled.png') no-repeat center right !important; }

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
	content: "" !important;
}

/* DataTables search bar */
.dataTables_length {
	float: left;
}

.dataTables_filter {
	float: right;
	margin-right: 15px;
}
/* End DataTables search bar */

/* DataTable Buttons */
.dt-buttons {
    float: right !important;
    margin-right: 0.15em;
}

.dt-button:not(.buttons-columnVisibility) {
    position: relative;
    display: inline-block;
    margin-right: 3px;
    padding: 5px 8px;
    border: 1px solid #999;
    cursor: pointer;
    font-size: 0.88em;
    color: black !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    -moz-box-shadow: 1px 1px 3px #ccc;
    -ms-box-shadow: 1px 1px 3px #ccc;
    -o-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc;
    background: #ffffff;
    background: -webkit-linear-gradient(top, #fff 0%, #f3f3f3 89%, #f9f9f9 100%);
    background: -moz-linear-gradient(top, #fff 0%, #f3f3f3 89%, #f9f9f9 100%);
    background: -ms-linear-gradient(top, #fff 0%, #f3f3f3 89%, #f9f9f9 100%);
    background: -o-linear-gradient(top, #fff 0%, #f3f3f3 89%, #f9f9f9 100%);
    background: linear-gradient(top, #fff 0%, #f3f3f3 89%, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
}

.dt-button:not(.buttons-columnVisibility):hover {
    border: 1px solid #666;
    text-decoration: none !important;
    -webkit-box-shadow: 1px 1px 3px #999;
    -moz-box-shadow: 1px 1px 3px #999;
    -ms-box-shadow: 1px 1px 3px #999;
    -o-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;
    background: #f3f3f3;
    background: -webkit-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
    background: -moz-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
    background: -ms-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
    background: linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#f4f4f4',GradientType=0 );
}

/* DataTable ColumnFilters */
.col_filters {
	width: 100%;
	background: #F9F9F9;
	border-bottom: 1px solid #ddd;
	border-collapse: separate;
}

.col_filters .col-xs-12 {
	padding: 1em;
}

.col_filters td {
	padding: 10px 15px !important;
	width: 33%;
}

.col_filter {
	margin: 0;
}

.col_filter input[type="text"] {
	width: 200px;
	display: inline;
}

.col_filter select {
	width: 300px;
	display: inline;
}

.col_filter .filter_column {
	border: 0;
	box-shadow: none;
	padding: 0;
	background: none;
}
.col_filter .number_range_filter {
	width: 100px !important;
}

.col_filter .date_range_filter {
    width: 135px !important;
}

/* End DataTables ColumnFilters */

/* Rates Table Editable Textboxes */
td.editable input, td.editable textarea {
	width: 100%;
	height: 100%;
}

textarea.form-control {
	max-width: 100%;
}

button[type='submit'], input[type='reset'] {
	width: 100px;
}

button[type='submit'] {
	margin-right: 10px;
}

fieldset {
	margin: 25px 0;
}

@media(max-width: 767px) {
	.page-header {
		margin: 110px 0 20px;
	}
}